.bg {
    background-color: rgb(62, 189, 104);
}

.paragraf {
    text-align: justify;
    color:white;
    font-family: cursive;
}

.paragrafs {
    color: rgb(8, 70, 0);
    text-align: center;
    font-family: cursive;
}

.top {
    text-align: justify;
    text-decoration: none;
    color: white;
    font-family: cursive;
}

.top:hover {
    color: rgb(8, 70, 0);
}